/.vagrant
/software
.byebug_history
/.librarian
/.tmp
.DS_Store
/modules/concat
/modules/connect
/modules/easy_type
/modules/em_utils
/modules/filemapper
/modules/jdk7
/modules/limits
/modules/nfs
/modules/ora_config
/modules/ora_install
/modules/software
/modules/sleep
/modules/stdlib
/modules/swap_file
/modules/sysctl
/modules/timezone
/modules/wls_config
/modules/wls_install
/modules/yamlfile
.byebug_history

# Unignore
!/modules/software/.gitkeep
